.editandoResumo{
    font-weight: 600;
}
.editandoObjetivo{
    font-weight: 600;
    padding-bottom: 10px;
    margin-left: 35px;
    padding-top: 10px;
    padding-right: 1%;
}
.editandoResumo{
    margin-bottom: 10px;
    margin-left: 35px;
    padding-right: 1%;
}
.editandoEspacamentoProjetoOrientador{
    margin-left: 20px;
}
.controls{
    margin-top: 8px;
}
.espacamentoCursoTurma{
    margin-left: 20px;

}
.card-header{
    margin-left: 30px;
    padding-right: 1%;
}

#espacamentoVoltar{
    margin-left: 50px;
}