.alert {
    padding: 8px 4px 8px 4px !important;
}

.btn-info {
    margin-right: 6px;
}

.alert-success {
    margin-right: 6px;
}

.btn-success {
    margin-right: 6px;
}

.i-am-centered {
    margin: auto;
    max-width: 300px;
}
.container{
    font-family: 'Questrial', sans-serif;
    background-color: #eee;
}
.editandoTitulo{
    color: black;
    margin-left: 1%;
    font-size: 33px;
}
#teste{
    margin-bottom: 2%; 
}