.alert {
    padding: 8px 4px 8px 4px !important;
}

.btn-info {
    margin-right: 6px;
}

.alert-success {
    margin-right: 6px;
}

.btn-success {
    margin-right: 6px;
}

.i-am-centered {
    margin: auto;
    max-width: 300px;
}