

label .teste {
color: blueviolet !important;
}

.background-estilo input {
  width: 50% !important;
}

.tamanho-campoLogin{
font-family: 'Source Serif Pro', serif;
}
.centralizandoCadastro{
  padding-top: 06%;
}
.centralizandoCadastro{
   height: 100%;
}.body{
  height: 100%;
}
.espacoCadastro{
  padding-left: 43%;
}
.centralizandoFormulario{
  margin-left: 15%;
}
.campoTituloCambury{
  margin-left: 40%;
  width:20px; 
}
.h1Cambury{
  box-sizing: border-box;
  border-bottom: 10px solid black;
  margin: 0px;
  padding: 20px;
  background-color: #132d3f;
  padding-left: 44%;
  height: 99px;
  color: #FFFFFF;
  font-family: 'Open Sans','Arial'
}





/*.tamanho-campoLogin{*/
/*}*/
/*.tamanho-campoNome{*/
/*  float: right;*/
/*}*/
/*.tamanho-campoSenha{*/
/*}*/
/*.tamanho-campoRepita{*/
/*  float: right;*/
/*}*/
/*.tamanho-campocpf{*/
/*}*/
/*.tamanho-campoEmail{*/
/*  float: right;*/
/*}*/