
.container{
    background-color: #eee;
    padding-bottom: 80px;
}
.titulo{
    margin-left: 10%;
    font-family: 'Questrial', sans-serif !important;
    color: black;
    margin-bottom: 3%;
  

}

.campoProjeto{
    margin-right: 20%;
    margin-left: 21%;
    margin-right: 73px;
}
.campoOrientador{
    margin-left: 10%; 
    width: 70%;  
}

.editandoObjProjeto{
    margin-left: 21%;
    margin-right: 73px;   
}
.editandoResumo{
    margin-right: 20%;
    margin-left: 10%; 
    margin-top: 0px;
}

#editandoCursos{
    margin-bottom: 30px;
    width: 31%;
    margin-left: 10%;

}
.editandoTurma{
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 84%;
    
    
}


.col{
    margin-left: 80%;
}
.btn{
    padding-top: 40%;
}

.editandoBotoes{
    margin-left: 10%;
}
.editandoBotoes #editandoVoltar {
    margin-left: 10%;
}

@media (max-width: 992px) {
    .editandoObjProjeto{
        margin-left: 10% !important;
        max-width: 70%;
        margin-right: 57px;
    }

    .campoProjeto{
        margin-left: 10% !important;
        max-width: 70%;
        margin-right: 57px;
    }

    .editandoTurma {
        margin-right: 68%;
    }

    #editandoCursos {
        width: 71%;
    }
}

