.modals-page .container {
    max-width: 400px !important;
    margin: 2% auto !important;
    padding: 2px 26px 26px 26px;
    border-radius: 25px;
}

.modals-page .container h3{
    text-align: center  ;
}

.modals-page .btn-default {
    float: right;
}

.dropdown-menu {
    display: block !important;
    opacity:0 !important;
    -webkit-transition: all 250ms ease-in !important;
    -moz-transition: all 250ms ease-in !important;
    -ms-transition: all 250ms ease-in !important;
    -o-transition: all 250ms ease-in !important;
    transition: all 250ms ease-in !important;
}
.btn-group.open .dropdown-menu {
    display: block !important;
    opacity: 1 !important;
}
