#cambury-logo{
    width: 10%;
    margin-right: 10px !important;
}

#btn-cadastra {
    position: relative;
    padding: 10px 15px;
}

#btn-login {
    padding: 14px 20px;
    margin-right: 7px;
}

@media (max-width: 768.98px) {
    #cambury-logo{
        width: 40%;
        margin-right: 10px !important;
    }
}

