.barra-header {
  box-sizing: border-box;
  border-bottom: 10px solid black;
  margin-top: 1%;
  text-align: center;
  padding-top: 5px;
  background-color: #132d3f;
  height: 150px;
  color: #FFFFFF;
  font-family: 'Open Sans','Arial';
  margin-top: 0px;
}

.barra-header h1 {
  margin-top: 40px;
  font-size: 25px;
}